extends ../layout

block content
  h1 welcome. now #{title}
  h3 .... #{title}
  h6 no... seriously.  #{title}
  form(action="/posts/#{post.id}/comment" method="post")
    div.form-group
      div
      label(for="subject") post you are commenting on, mo-fo
      div
      input.form-control(type="text" id="subject" value= "RE: #{post.subject}" name="subject" readonly="readonly")
      div
      label(for="body") Body
      div
      input.form-control(type="text" id="body" placeholder="Comment Body" name="body")
      div
    button.btn.btn-primary(type="submit") Submit 
  
