extends layout

block content
  .row
      .col-md-4.col-sm-6.col-xs-12
        +panel("Helps", "info")
          .post-container
            each post, i in users
              if post.cat_name === "helps"
                +panel("post", "info")
                  .post-style-container
                    .heading_container
                      img.profile_pic(src="http://images.fandango.com/MDCsite/images/featured/201411/Strike%20Force%20Eagle%203%20poster_188x188.jpg")
                      h6.user_name= post.first_name + " " + post.last_name
                      h5.topic 
                        a.i(href="/posts/#{post.id}/show")=post.subject
                    .content-container
                      p.post= post.body
                    .button-container   
                      .comments-container
                        h5.numberOf 25
                        a.i(href="/posts/#{post.id}/comment" class='fa fa-comment-o fa-2x')
                      .thumbs-container
                        a.i(href='#' class='fa fa-thumbs-o-up fa-2x')
                        h5.numberOf 13
                        a.i(href='#' class='fa fa-thumbs-o-down fa-2x')
                        h5.numberOf 20
      .col-md-4.col-sm-6.col-xs-12
        +panel("Interestings", "info")
          .post-container
            each post, i in users
              if post.cat_name === "interestings"
                +panel("post", "info")
                  .post-style-container
                    .heading_container
                      img.profile_pic(src="http://images.fandango.com/MDCsite/images/featured/201411/Strike%20Force%20Eagle%203%20poster_188x188.jpg")
                      h6.user_name= post.first_name + " " + post.last_name
                      h5.topic
                        a.i(href="/posts/#{post.id}/show")=post.subject
                    .content-container
                      p.post= post.body
                    .button-container   
                      .comments-container
                        h5.numberOf 25
                        a.i(href="/posts/#{post.id}/comment" class='fa fa-comment-o fa-2x')
                      .thumbs-container
                        a.i(href='#' class='fa fa-thumbs-o-up fa-2x')
                        h5.numberOf 13
                        a.i(href='#' class='fa fa-thumbs-o-down fa-2x')
                        h5.numberOf 20
      .col-md-4.col-sm-6.col-xs-12
        +panel("Events", "info")
          .post-container
            each post, i in users
              if post.cat_name === "events"
                +panel("post", "info")
                  .post-style-container
                    .heading_container
                      img.profile_pic(src="http://images.fandango.com/MDCsite/images/featured/201411/Strike%20Force%20Eagle%203%20poster_188x188.jpg")
                      h6.user_name= post.first_name + " " + post.last_name
                      if user 
                        h5.topic
                          a.i(href="/posts/#{post.id}/show")=post.subject
                      else 
                        h5.topic 
                            a.i(href="/auth/linkedin")=post.subject
                    .content-container
                      p.post= post.body
                    .button-container   
                      .comments-container
                        h5.numberOf 25
                        a.i(href="/posts/#{post.id}/comment" class='fa fa-comment-o fa-2x')
                      .thumbs-container
                        a.i(href='#' class='fa fa-thumbs-o-up fa-2x')
                        h5.numberOf 13
                        a.i(href='#' class='fa fa-thumbs-o-down fa-2x')
                        h5.numberOf 20
                        
